$breakpoint: 767px;

@mixin media() {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

.container {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: gray;
}

.header {
  padding: 20px;
  height: 53px;
  vertical-align: middle;
  white-space: nowrap;
  display: flex;
  align-items: center;
  @include media() {
    padding: 0;
  }
}

.header_icon {
  display: none;
  background-color: gray;
  @include media() {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    flex: 0 0 auto;
    padding-top: 10px;
    border: 0;
  }
}

.typograph {
  letter-spacing: 1px;
  text-align: left;
}

.news {
  font-weight: 250px;
}

.app {
  font-weight: 100px;
}
