$breakpoint: 767px;

@mixin media() {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}
.contents {
  display: flex;
  margin: 0 auto;
}

.main {
  padding: 2rem 0;
  flex: 4;
}

.brank {
  flex: 2;
}

.aside {
  flex: 3;
}
